@import "../partials/_variables";
@import "../partials/_mixins";
@import "../partials/_navbar";
@import "../partials/_hero";
@import "../partials/_artofcakes";
@import "../partials/_recipes";
@import "../partials/_footer";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
}

#menu {
    display: none;
    width: 100%;
    min-width: 1024px;
    height: 880px;
    padding: 75px;
    background-image: url("../resources/images/slate.jpg");
}